/* usa este fichero para personalizar tus vistas */

#navPrincipal{
    background-color: #6A0DAD;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.3);
    height: 70px;
}

#logoNav{
    width: 200px;
    height: 35px;
    margin: 17px;
}