<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org/" data-bs-theme="dark">

<head>
    <th:block th:replace="~{fragments/head :: header}" />
    <title>TODAS LAS APUESTAS</title>
</head>

<body class="d-flex flex-column h-100">
    <header th:replace="fragments/nav.html :: nav('apuestas')"></header>

    <main class="flex-shrink-0">
        <form style="display: none;" id="datos">
            <input type="hidden" id="root" name="root" th:value="@{/}">
        </form>

        <div id="contenedorPrincipal" class="container d-flex flex-column">
            <div>
                <ul class="nav nav-pills" id="nav-pills">
                    <li class="nav-item active">
                        <button class="nav-link" id="todas">Todas</button>
                    </li>
                    <li class="nav-item">
                        <button class="nav-link" id="determinadas">Determinadas</button>
                    </li>
                    <li class="nav-item">
                        <button class="nav-link" id="pendientes">Pendientes</button>
                    </li>
                </ul>
            </div>

            <button class="btn btn-outline-primary mt-4 botonVerMas mx-auto" id="verMasEventos">ver mas</button>
        </div>
    </main>

    <th:block th:replace="fragments/footer.html :: footer" />
    <script th:src="@{/js/historico.js}" src="js/historico.js"></script>
</body>

</html>